<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Log-in or Sign Up?</h1>
      <br>
      <form action="" method="post">
        <input class="btn btn-warning" name="submit_button" value="Log-In" onclick="location.href='login.html'" type="submit">
        <input class="btn btn-warning" name="submit_button" value="Sign-Up" onclick="location.href='register.html'" type="submit">
      </form>
    </div>
  </body>
</html>